OutlookSignature/outlooksignature.client/obj
OutlookSignature/OutlookSignature.Server/bin
OutlookSignature/.vs
OutlookSignature/OutlookSignature.Server/obj
OutlookSignature/@Common/bin
OutlookSignature/@Common/obj
OutlookSignature/outlooksignature.client/build
.vs
TestApp/obj
ProvisioningPipeline/obj
ProvisioningPipeline/bin
TestApp/bin
